---
type Props = {
  title: string
  description: string
  href: string
  picture: string
  gif: string
}

const { href, gif, picture, title, description } = Astro.props
---

<div class="project-card">
  <img
    src={picture}
    alt={`Screenshot du projet ${title}`}
    class="project-card__hero"
  />
  <div class="project-card__content">
    <img src={gif} alt={`Clip du projet ${title}`} />
    <p class="project-card__title">{title}</p>
    <p class="project-card__description">{description}</p>
  </div>
  <a href={href} class="project-card__link"></a>
</div>

<script></script>

<style>
  .project-card {
    position: relative;
  }
  .project-card:not(:hover) {
    .project-card__content {
      display: none;
    }
  }
  .project-card:hover {
    .project-card__hero {
      display: none;
    }
  }
  .project-card__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
