---
import hardskills from '../../public/hardskills.json'
import HardSkillIcon from '../components/HardSkillIcon.astro'
---

<div id="my-skills" class="container">
  <h2 class="categorie">Mes compétences</h2>
  <div class="row">
    <div class="highlight col-md-8 col-sm-12">
      <p class="list-name">Front-End</p>
      <ul class="description">
        {
          hardskills['Front-End'].map((e) => (
            <HardSkillIcon src={e.src} name={e.name} level={e.level} />
          ))
        }
      </ul>
    </div>
    <div class="highlight col-md-4 col-sm-12">
      <p class="list-name">Autres</p>
      <ul class="description">
        {
          hardskills['Autres'].map((e) => (
            <HardSkillIcon src={e.src} name={e.name} level={e.level} />
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  #my-skills {
    .list-name {
      color: var(--ternary-font-color);
      text-align: center;
    }
    .highlight {
      background-color: var(--secondary-background-color);
    }
    .description {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      padding: 0;
      justify-content: space-around;
    }
  }
</style>
